body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#page{
  
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulaire{
    height:350px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 246, 246);
 transition: all 2s;
}
#formulaire:hover{
    transform: perspective(500px) rotateX(0deg) rotateY(30deg);
    
}
form{
    width: 80%;
}
form input[type="text"],input[type="password"]{
    height: 40px;
    width: 85%;
    border:1px solid silver;
    border-radius: 5px;
    background-color: white;
    outline:none;
    /* outline: 1px solid silver; */
 
}
form input[type="submit"],input[type="reset"]{

    height: 40px;
    width: 45%;
    border:1px solid silver;
    border-radius: 5px;
    background-color: rgb(247, 142, 45);
    border:none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

}
form input[type="password"] {

    border-right: none;
    outline: none;
    width:85%;
    


}
form input[type="text"]:nth-child(2){

    border-right: none;
    outline: none;
    width:80%;
    background-color: red;
   
    


}
form input[type="submit"]:hover,input[type="reset"]:hover{

    background-color: rgb(252, 184, 107);

}
form ::-webkit-input-placeholder{
    /* letter-spacing: 1px; */
    font-style: italic;
}
form span{
    display:flex;

}
span button i{
    height: auto;
    width: 100%;
    /* background-color: red; */
}
span button{
    /* border-radius:0px 10px 10px 0px ; */
    border-left:none;
    border:1px solid silver;
    border-radius: 5px;
    /* background-color: white; */
    border-right:1px solid silver;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
    /* margin-right: 25px; */
    background-color: royalblue  ;
    color: white;
    cursor:pointer;
    position: relative;
    left: -10%;
    height: 40px;
    outline: none;
    width: 32px;

}

#txt{
    position: absolute;
    top:25px;
    height: 450px;
    background-color: transparent;
    width:455px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#pwt{
    position: absolute;
    top:25px;
    left: 69%;
    height: 450px;
    background-color: transparent;
    width:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}